/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.mat-checkbox-label {
  white-space: nowrap !important;
  overflow-x: hidden !important;
  text-overflow: ellipsis !important;
  min-width: 200px;
  max-width: 200px;
}
